/* fonts */
@font-face {
    font-family: 'Lalezar';
    src: url(../fonts/Lalezar-Regular.ttf);
}

@font-face {
    font-family: 'Medula One';
    src: url(../fonts/MedulaOne-Regular.ttf);
}

/* minimal reset css */
html {
    scroll-padding-top: 85px;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #061C31;
}

body,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    font-family: "Lalezar";
    color: white;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h1 {
    color: white;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: "Medula One";
}

h3 {
    font-size: 30px;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*Navbar*/
.sidebar{
    display: none;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/bg_header.png);
    background-size: cover;
    background-position: relative;
    position: relative;
    margin: 20px;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 864px;
    padding: 20px;
    gap: 100px;
}

.menu {
    display: none;
    cursor: pointer;
}

.menu div {
    width: 32px;
    height: 2px;
    background: fff;
    margin: 8px;
    transition: 0.3s;
}

.text_header {
    text-align: center;
    width: 1200px;
    margin-top: -100px;
}

#fumaca-escura {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: linear-gradient(0deg, #0000007a 28%, #1f1f1f5c 46%, rgba(61.62, 61.62, 61.62, 0.24) 65%, #5c5c5c1f 83%, #7b7b7b00 100%)
}

.logo-arpanet {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 369px;
    height: 369px;
    margin-top: -150px;
}

/* header navbar */
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
}

.navbar {
    text-align: center;
}

.navbar ul {
    list-style-type: none;
    padding: 10px;
}

.navbar ul li {
    transition: 0.3s;
    display: inline-block;
    margin-right: 20px; 
}

.navbar ul li:hover {
    transform: scale(1.2);
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: rgb(9, 85, 156);
}

/* button_arrow */

.button_arrow {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -120px;
    animation: up-down 4.2s ease-in-out infinite;
}

.button_arrow-icon {
    cursor: pointer;
    position: relative;
    top: -80px;
    z-index: 1;
    display: flex;
    background-color: #004688;
    padding: 20px;
    border-radius: 50%;
    width: 100px;
    transition: 0.3s;
}

.button_arrow-icon:hover {
    transform: scale(1.1);
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

/* timeline */

.timeline-title-container {
    text-align: center;
    position: relative;
    background: #061C31;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.text_timeline {
    font-family: 'Lalezar';
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 10px;
    margin-bottom: 10px;
}

.wrapper {
    position: relative;
}

/* Linha central da timeline */
.wrapper .center-line {
    position: absolute;
    height: calc(92% - 40px);
    width: 8px;
    background: white;
    border-radius: 10px;
    border: 2px solid white;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);
}


.wrapper .row {
    display: flex;
    margin: 80px 0;
}

.wrapper .row-1 {
    justify-content: flex-start;
    padding: 60px;
    max-width: 1200px; 
    margin: 50px auto; 
    padding: 0 20px;
}

.wrapper .row-2 {
    justify-content: flex-end;
    padding: 60px;
}

.wrapper .row section {
    background: transparent;
    border-radius: 5px;
    width: calc(50% - 40px);
    padding: 20px;
    position: relative;
}

.wrapper .section-img {
    height: auto;
    top: 20px;
    position: relative;
}

/* imagens da direita (row-1) */
.img-right {
    right: -120px;
}

/* imagens da direita (row-2) */
.img-left {
    right: 120px;
}

.wrapper .row section::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: transparent;
    top: 28px;
    z-index: -1;
    transform: rotate(45deg);
}


.row-1 section::before {
    right: -7px;
}

.row-2 section::before {
    left: -7px;
}

/* Ícones */
.row section .icon,
.center-line .scroll-icon {
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #043869;
    font-size: 17px;
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}


.center-line .scroll-icon {
    bottom: 0px;
    left: 50%;
    font-size: 25px;
    transform: translateX(-50%);
}

/* Altera a cor do ícone FontAwesome */
.center-line .scroll-icon i {
    color: #004688;
}

.row-1 section .icon {
    top: 15px;
    right: -60px;
}

.row-2 section .icon {
    top: 15px;
    left: -60px;
}

.row section .details,
.row section .bottom {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;

    span{
        font-size: 35px;
    }
}

.row section .details .title {
    font-size: 22px;
    font-weight: 600;
}

.row section p {
    margin: 10px 0 17px 0;
}

.row-1 section {
    text-align: right;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    background-color: #062748;
    padding: 30px 0px 40px 0px;
    height: 300px;
    margin-top: 50px;

    h3 {
        font-family: 'Medula One';
        font-size: 50px;
    }

    li {
        font-family: 'Lalezar';
        font-size: 16px;
        transition: 0.3s;
    }

    li:hover {
        transform: scale(1.1);
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.img_desktop {
    display: none;
}

navbar navbar-expand-lg navbar-light bg-light{
    display: none;
}

/* Responsividade */
@media(max-width: 790px) {
    .header {
        background-size: cover;
        background-image: url(../images/bg_arpanet_mobile.webp);
    }

    .center-line {
        display: none;
    }

    .paragrafo {
        width: auto;
        text-align: center;
        font-size: medium;
    }

    .img_desktop {
        margin: 30px auto;
        display: block;
    }

    .logo-arpanet{
        width: 150px;
        height: auto;
    }

    .text_header {
        width: auto;
        font-size: large;
    }

    .wrapper .center-line {
        left: 40px;
    }

    .wrapper .row {
        margin: 30px 0 3px 60px;
    }

    .wrapper .row section {
        width: 100%;
    }


    .row section .details {
        width: auto;
        display: flex;
        flex-direction: column;
        font-size: 25px;
        span{
            text-align: center;
        }
    }

    .img-right, .img-left{
        display: none;
    }

    .navbar {
        display: none;
    }

    section{
        i {
            display: none;
        }
    }

    .scroll-icon{
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column;
        background-color: #043869;
        height: auto;
        padding: 20px 10px 0 25px;
    }

    .menu-toggle {
        display: block;
    }

    #menuButton {
        display: block;
    }
}

@media(max-width: 440px) {

    .wrapper .center-line,
    .row section::before,
    .row section .icon {
        display: none;
    }

    .wrapper .row {
        margin: 10px 0;
    }
}

.menu-toggle {
    font-size: 15px;
    cursor: pointer;
    padding: 15px;
    background: #061C31;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1300;
    display: none;
}

.sidebar {
    width: 120px;
    background: #061C31;
    color: white;
    position: fixed;
    left: -250px;
    top: 0;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1200;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.sidebar a:hover {
    transform: scale(1.3);
}
.sidebar.active {
    left: 0;
}

.ximba {
    display: block;
}